# Ignore node dependencies
node_modules/

# Ignore environment files
.env

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS/system files
.DS_Store
Thumbs.db
backend/tmp/
backend/.env
frontend/.env
